@import "base";
@import "railscasts";

/* Added by RubbaBoy */

.emphasized {
  font-weight: bold;
  font-style: italic;
}

.brand-logo {
  background: url(//holysheet.net/logos/holysheet-32.png);
}

/* End of added by RubbaBoy */

/* BASE OVERRIDES */

/* Add buffer for nicer anchor links */
.prose h2:first-child {
  padding-top: 20px;
}

.prose h3:first-child {
  padding-top: 20px;
}

/* Header gets big */
@media only screen and (max-width:960px) {
  .prose h2:first-child {
    padding-top: 60px;
  }

  .prose h3:first-child {
    padding-top: 60px;
  }
}

/* Header gets bigger */
@media only screen and (max-width:640px) {
  .prose h2:first-child {
    padding-top: 100px;
  }

  .prose h3:first-child {
    padding-top: 100px;
  }
}


/* tables are too giant */
.prose table,
.prose table code {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.5;
}

.prose table th, .prose table td {
  padding: 5px;
}

.dark.keyline-top,
.dark.keyline-bottom {
  border-color: #313131;
}

html, body, #app, .container {
  height: 100%;
}

body pre {
  padding: 0;
}

/* BASE ADDONS */
.fill-dark2 { background-color: #313131; }
.fill-dark2 .rounded-toggle input[type=radio]:checked + label,
.fill-dark2 .rounded-toggle .active { background-color: #313131; }
.space-top3 { margin-top: 30px;}
.space-top5 { margin-top: 50px;}
.line-height15 { line-height: 15px; }
.pad00y { padding-top: 2px; padding-bottom: 2px; }
.space-bottom00 { margin-bottom: 3px;}

.endpoint {
  width: 100%;
  display: flex;
}

.endpoint-method {
}

.endpoint-url {
  flex-grow: 1;
  word-wrap: break-word;
}

.endpoint-url a {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2px;
  font-weight:bold;
  padding: 2px;
  color: #fff;
}

.endpoint-url a:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

.endpoint-token {
}

a.hljs-linked {
  border-radius: 2px;
  color: #a5c261;
  background: #383C2F;
  padding: 2px;
}

body .prose blockquote {
  padding: 5px 10px;
  background: #232323;
}

.preview {
  background-image: -webkit-linear-gradient(#F1F075, #F1F075);
  background-size: 10px 10px;
  background-repeat: repeat-y;
}

.preview h2::after,
.preview h3::after {
  content: 'PREVIEW';
  background-color: #F1F075;
  border-radius: 2px;
  font-size: 9px;
  font-weight: normal;
  padding: 2px 5px;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  vertical-align: middle;
}

// Dark mode

body, html, .space-left16, .fill-light, .container {
  background: #151617;
}

body, input, textarea {
  color: rgba(186, 184, 182, 0.75);
}

table.prose th, .prose table th {
  background-color: rgba(0, 0, 0, 0.05);
}

table.prose, .prose table, table.prose th, table.prose td, .prose table th, .prose table td, thead, tr, th {
  border: 1px solid rgb(46, 46, 46) !important;
}

.fill-dark {
  background-color: rgb(49, 51, 54);
}

.keyline-top {
  border-top-color: rgba(82, 82, 82, 0.1);
}

.fill-lighten0 {
  background-image: initial;
  background-color: rgba(19, 21, 22, 0.1);
}

.endpoint-method {
  background-color: rgba(15, 17, 18, 0.35);
}

.dark a.quiet, a.quiet.dark {
  color: rgb(204, 204, 204);
}

.floating-toggle-icon {
  color: rgb(204, 204, 204) !important;
  background: #313336;
}

.fixed-top.space-left16 {
  background: transparent;
}

.fill-lighten0.round.quiet {
  background: rgba(15, 17, 18, 0.35);
}

